.table > tbody > tr > td {
    vertical-align: middle;
}
.foto {
    width: 80px;
}
.fotoDetail {
    width: 150px;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hit {
    border: 0px solid black;
}
